PG1.xcodeproj/xcuserdata/karadza3a.xcuserdatad
PG1.xcodeproj/xcuserdata
PG1.xcodeproj/xcuserdata/karadza3a.xcuserdatad/xcschemes
PG1.xcodeproj/project.xcworkspace
PG1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PG1.xcodeproj/xcuserdata/karadza3a.xcuserdatad/xcschemes/ddd.xcscheme
PG1.xcodeproj/xcuserdata/karadza3a.xcuserdatad/xcschemes/PG1.xcscheme
PG1.xcodeproj/project.pbxproj
